.Tilt{
    display: inline-block;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 50px;
}

#heading{
    margin-top: -10px;
    margin-left: 20px;
    font-size: 70px;
}